

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
img{
  display: block;
  margin: 0 auto;
  width: 20%;
}
input{
  justify-content: center;
  margin-top: 0%;
  margin-left: 39%;
  width: 21%;
}
.text{
  font-weight:400;
}
.bold{
  font-weight: bold;
}
.error-output{
  margin-left: 10px;
  font-size: 12px;
  font-style: italic;
  color: red;
}

.container{
  display: block;
  justify-content: center;
  width: 100%;
  flex-direction: column;
  background-color: rgb(5, 74, 177);
  height: 100vh;
}
.block{
  display: flex;
  flex-direction: column;
  background-color: rgb(241, 140, 8);
  width: 50%;
  margin-right: 40px;
  height: 100vh;
  align-content: center;
  margin-left: 24%;
  padding-left: 1cm;
  padding-right: 1cm;
}
h1{
  text-align: center;
  text-shadow: 2px 2px black;
  color:  rgb(5, 74, 177);
  font-family: sans-serif;
  font-size: xx-large;
}


